<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">{{titulo}}</span>
                    <form (ngSubmit)="agregarProducto()" [formGroup]="productoForm" class="mt-3">
                        <div class="mb-3">
                            <input class="form-control form-control-lg" formControlName="producto" placeholder="Producto" type="text">
                            <div class="text-danger" *ngIf="productoForm.get('producto')?.hasError('required') && productoForm.get('producto')?.touched">
                                <span>El nombre del producto <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input class="form-control form-control-lg" formControlName="categoria" placeholder="Categoría" type="text">
                            <div class="text-danger" *ngIf="productoForm.get('categoria')?.hasError('required') && productoForm.get('categoria')?.touched">
                                <span>La categoria <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input class="form-control form-control-lg" formControlName="ubicacion" placeholder="Ubicación" type="text">
                            <div class="text-danger" *ngIf="productoForm.get('ubicacion')?.hasError('required') && productoForm.get('ubicacion')?.touched">
                                <span>La ubicacion <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input class="form-control form-control-lg" formControlName="precio" placeholder="Precio" type="number">
                            <div class="text-danger" *ngIf="productoForm.get('precio')?.hasError('required') && productoForm.get('precio')?.touched">
                                <span>El precio <strong>es obligatorio</strong></span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <button class="btn btn-secondary btn-lg float-start" routerLink="/">Volver</button>
                            <button class="btn btn-success btn-lg float-end" [disabled]="productoForm.invalid" type="submit">Aceptar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
